<section class="grid_12">
  <div class="block-border">
    <div class="block-content">
      <h1>{{$ctrl.title}}</h1>
      <p>{{$ctrl.description}}</p>
      <table class="table sortable no-margin" width="100%">
        <thead><tr><th style="text-align: center;">Chat</th></tr></thead>
        <tbody>
        <tr data-ng-repeat="message in $ctrl.chatHistory">
          <td data-ng-if="message.type == 'user_message'" style="text-align: right;">
            {{message.message}}
          </td>
          <td data-ng-if="message.type == 'agent_message'">
            {{message.message}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="columns">
        <div class="colx3-left-double">
          <input type="text" data-ng-model="$ctrl.query" data-ng-keypress="$ctrl.onKey($event)" style="width:100%;"/>
        </div>
        <div class="colx3-right">
          <button data-ng-click="$ctrl.submit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>