<div class="block-border">
  <h1>{{tableCtrl.title}}</h1>
  <table class="table sortable no-margin" cellspacing="0" width="100%" data-page-length="25">
    <thead>
      <tr>
        <th class="black-cell"><span data-ng-class="{loading: tableCtrl.loading}"></span></th>
        <th data-ng-repeat="col in tableCtrl.columns" scope="col">{{col.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="entity in tableCtrl.entities | orderBy:'name'">
        <td class="th table-check-cell"><input type="checkbox" data-ng-model="entity.selected"></td>
        <td data-ng-repeat="col in tableCtrl.columns">
          <input data-ng-if="col.editable" data-ng-model="entity[col.prop]"
                 data-on-change="tableCtrl.update(entity, col.prop)"/>
          <span data-ng-if="col.value">{{col.value(entity)}}</span>
          <span data-ng-if="col.url"><a href="{{col.url(entity)}}">{{entity[col.prop]}}</a></span>
          <span data-ng-if="col.button">
            <button data-ng-click="col.button.action(entity)"
                    data-ng-disabled="col.button.disabled(entity)">{{col.button.display}}</button>
          </span>
          <span data-ng-if="col.type == 'address'">
            {{entity[col.prop].address}}
          </span>
          <span data-ng-if="col.type == 'date'">
            {{tableCtrl.getDate(entity[col.prop]) | date:'MM/dd/yyyy'}}
          </span>
          <span data-ng-if="col.type == 'datetime'">
            {{tableCtrl.getDate(entity[col.prop]) | date:'MM/dd/yyyy hh:mm a'}}
          </span>
          <span data-ng-if="col.type == 'percent'">{{entity[col.prop]}}%</span>
          <span data-ng-if="col.type == 'time'">{{entity[col.prop] | date:'shortTime'}}</span>
          <span data-ng-if="col.type == 'currency'">{{(entity[col.prop] || 0) | currency}}</span>
          <span data-ng-if="col.prop && !col.type && !col.url && !col.editable && !col.value">
            {{entity[col.prop]}}
          </span>
          <span data-ng-if="col.imageLink">
            <a href="{{col.imageLink.url(entity)}}"><img data-ng-src="{{col.imageLink.src}}"></a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>